nav {
background-color: #FBBB7D;
display:flex;
justify-content: space-between;
align-items: center;
height: 60px;
width: 100%;

}
.logo{
    padding: 20px;
    font-size: 30px;
    cursor: pointer;
}
ul{
    display:flex;
    padding: 10px;
}
li{
    list-style: none;
    padding: 10px;
}
a{
    text-decoration: none;
    color: white;
    text-transform: capitalize;
    margin-right: 30px;
    font-weight: 500;

}
a:hover{
    color: brown;
}
h1{
    color: #d32619;
    font-size: 3.5rem;
    padding-left: 100px;
   font-weight: bold;

}
p{
    font-size: 2rem;
    padding-left: 100px;
}
#digital{
    color: #FBBB7D;
}
button{
    margin-left: 6rem;
    background-color: #FBBB7D;
    color: white;
    border: 0px;
    padding: 1.2rem 2rem;
    border-radius: 1rem;
    margin-top: 2rem;
}
.adams img{
    height: 500px;
}
